body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 960px;
    height: auto;
    background-color: darkturquoise;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

#title {
    display: block;
    background-color: rgb(89, 150, 241);
    padding: 15px;
}

.clearfix {
    clear: both;
}

#form {
    width: 960px;
    margin: 0 auto;
}

.row-tab {
    display: block;
    padding-top: 15px;
}

.lable {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.input {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.lable-select {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.input-select {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.lable-radio {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
}

.input-radio {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.button-submit {
    display: block;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 100px;
}